# Segmenting and Clustering Neighborhoods in Toronto - Part 2

Concatenate Dataframes

### Imports

In [1]:
import pandas as pd

### Get data from CSV files

In [23]:
geo_coord = pd.read_csv('/content/Geospatial_Coordinates.csv')
postal_codes = pd.read_csv('/content/postal_code_toronto.csv')

In [24]:
geo_coord.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [25]:
postal_codes.head()

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Regent Park, Harbourfront
3        M6A        North York  Lawrence Manor, Lawrence Heights
4        M7A      Queen's Park     Ontario Provincial Government

### Merging dataframes

In [27]:
merged_df = pd.merge(left=postal_codes, right=geo_coord, how='left', left_on='PostalCode', right_on='PostalCode')

In [32]:
merged_df.head(10)

  PostalCode           Borough  ...   Latitude  Longitude
0        M3A        North York  ...  43.753259 -79.329656
1        M4A        North York  ...  43.725882 -79.315572
2        M5A  Downtown Toronto  ...  43.654260 -79.360636
3        M6A        North York  ...  43.718518 -79.464763
4        M7A      Queen's Park  ...  43.662301 -79.389494
5        M9A         Etobicoke  ...  43.667856 -79.532242
6        M1B       Scarborough  ...  43.806686 -79.194353
7        M3B        North York  ...  43.745906 -79.352188
8        M4B         East York  ...  43.706397 -79.309937
9        M5B  Downtown Toronto  ...  43.657162 -79.378937

[10 rows x 5 columns]